<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="title navbar-brand">
            <img src="assets/notebook.png" width=25 height=25/>
            Bloggit
        </div>
    </div>
    <header-links></header-links>
</div>