<h1>Bookmark Details</h1>
<div *ngIf="bookmark" class="post panel">
  <div>
    <h2>{{bookmark.title}}</h2>
    <p>{{bookmark.fullUrl}}</p>
  </div>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr class="info">
        <th>Created By</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{bookmark.createdBy}}</td>
        <td>{{bookmark.lastUpdated | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error.error.message ? error.error.message : 'There was an error retrieving bookmarks.'}}
</div>