<div class="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li [ngClass]="{'active': currentRoute === 'posts'}">
            <a (click)="goToRoute('posts')">Posts</a>
        </li>
        <li [ngClass]="{'active': currentRoute === 'bookmarks'}">
            <a (click)="goToRoute('bookmarks')">Bookmarks</a>
        </li>
    </ul>
</div>