<h1>Post Form</h1>
<form>
   <div class="form-group">
       <label for="title">Title</label>
       <input type="text" class="form-control" id="title" name="title"
           required 
           [(ngModel)]="post.title">
   </div>
   <div class="form-group">
      <textarea class="form-control" rows=20 name="body"
      [(ngModel)]="post.body">
   </textarea>
   </div>
   <div class="form-group">
       <label for="author">Author</label>
       <input type="text" class="form-control" id="author" name="author"
           required
           [(ngModel)]="post.author">
   </div>
   <button type="submit" class="btn btn-primary" (click)="submitPost()">Submit</button>
</form>
<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    {{error.error.message ? error.error.message : 'There was an error saving your post.'}}
</div>