<h2>
    Posts
    <div routerLink="create" class="btn btn-primary pull-right">Create Post</div>
</h2>
<p>Select a post from the list below.</p>
<div *ngFor="let post of posts" class="panel panel-default">
    <div class="panel-heading">
        <a [routerLink]="post.postId">{{post.title}}</a>
    </div>
    <div class="panel-body">{{post.body}}</div>
</div>
<div *ngIf="error" class="alert alert-danger">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    There was an error retrieving posts.
</div>