<h2>Bookmarks</h2>
<p>Select a bookmark from the list below.</p>
<div *ngFor="let bookmark of bookmarks" class="panel panel-default">
    <div class="panel-heading">
        <a [routerLink]="bookmark.bookmarkID">{{bookmark.title}}</a>
    </div>
    <div class="panel-body">{{bookmark.fullUrl}}</div>
</div>
<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error.error.message ? error.error.message : 'There was an error retrieving bookmarks.'}}
</div>